
@{
    ViewBag.Title = "Home Page";
}

<style>
    #kategorii {
        /*border: 1px solid gray;*/
        border: 3px solid cornflowerblue;
        /*background-color: cornflowerblue;*/
        border-radius: 20px;
        padding-right: 20px;
    }

    #kategorii li {
        margin: 0 0 10px 0;
    }

    #kategorii li a {
        color: black;
    }

    #kategorii li a:hover {
        color: red;
    }
    #kategorii li:hover{
        padding-left:10px;
    }
</style>

<div class="row">
    <div class="col-md-2">
        <h2>Категории</h2>       
            <ul id="kategorii">
                <li><a href="#">Лаптопи</a></li>
                <li><a href="#">Персонални компјутери</a></li>
                <li><a href="#">Додатоци за компјутери</a></li>
                <li><a href="#">Мобилни телефони</a></li>
                <li><a href="#">Таблети</a></li>
                <li><a href="#">Телевизија</a></li>
                <li><a href="#">Канцеларија</a></li>
                <li><a href="#">Софтвер</a></li>
                <li><a href="#">GPS - Навигација</a></li>
                <li><a href="#">Аудио и опрема</a></li>
                <li><a href="#">Алати и помагала</a></li>
                <li><a href="#">Здравје и спорт</a></li>
            </ul>
    </div>

    <div class="col-md-10">
        @Html.Partial("ViewProizvods")
    </div>

    <br /> 
    <br />
    <br />

    @*<div class="col-xs-1" id="dailydeals">
        @Ajax.ActionLink()
    </div>*@
</div>

@section scripts{
    <script>
        $("document").ready(function () {
            $('#proizvoditabela').DataTable({
                "order": [[3, "desc"]],
                "columns": [
                    { "orderable": false },
                    { "orderable": true },
                    { "orderable": true },
                    { "orderable": true },
                    { "orderable": true },
                    { "orderable": false },
                ],    
            });
        });
    </script>
}