
@{
    ViewBag.Title = "Home Page";
}

<style>
    #kategorii {
        border: 1px solid gray;
        background-color: cornflowerblue;
        border-radius: 20px;
    }

        #kategorii li {
            margin: 0 0 10px 0;
        }

            #kategorii li a {
                color: black;
            }

                #kategorii li a:hover {
                    color: red;
                }
</style>

<div class="row">
    <div class="col-md-2">
        <h2>Категории</h2>
        <p>
            <ul id="kategorii">
                <li><a href="#">Лаптопи</a></li>
                <li><a href="#">Персонални компјутери</a></li>
                <li><a href="#">Додатоци за компјутери</a></li>
                <li><a href="#">Мобилни телефони</a></li>
                <li><a href="#">Таблети</a></li>
                <li><a href="#">Телевизија</a></li>
                <li><a href="#">Канцеларија</a></li>
                <li><a href="#">Софтвер</a></li>
                <li><a href="#">GPS - Навигација</a></li>
                <li><a href="#">Аудио и опрема</a></li>
                <li><a href="#">Алати и помагала</a></li>
                <li><a href="#">Здравје и спорт</a></li>
            </ul>
        </p>
    </div>

    <div class="col-lg-10">
        @Html.Partial("ViewProizvods")
    </div>
</div>

@section scripts{
    <script>
        $("document").ready(function () {
            $('#proizvoditabela').DataTable({
                "order": [[3, "desc"]],
                "columns": [
                    { "orderable": false },
                    { "orderable": true },
                    { "orderable": true },
                    { "orderable": true },
                    { "orderable": true },
                    { "orderable": false },
                ]
            });
        });
    </script>
}